In [1]:
import time
print(time.ctime())

Tue Mar 26 04:55:24 2024

In [2]:
import numpy as np
x = 1
y = x + 1
x = 2
y

2

In [3]:

x = [1, 4, 3]
y = [[1,4,3], [9,2,7]]

print(y[1][2])

7

In [4]:
import numpy as np
y = np.array([1,4,3])
y

array([1, 4, 3])

In [5]:
import numpy as np

y = np.array([[1, 4, 3], [9, 2, 7]])
y

array([[1, 4, 3],
       [9, 2, 7]])

In [6]:
def my_adder(a, b, c):
    out = a + b + c
    return out

In [7]:
my_adder(1, 2, 3)

6

In [8]:
def my_thermo_stat(temp, desired_temp):
    if temp < desired_temp - 5:
        status = 'Heat'
    elif temp > desired_temp + 5:
        status = 'AC'
    else:
        status = 'off'
    return status

In [9]:
status = my_thermo_stat(65,75)
print(status)

Heat

In [10]:
status = my_thermo_stat(75,65)
print(status)

AC

In [11]:
status = my_thermo_stat(65,63)
print(status)

off

In [12]:
x = 3
if x>1 and x<2:
  y=2
elif x>2 and x<4:
  y=4
else:
  y=0
print(y)

4